@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Users" asp-action="Index">Users</a> | <a asp-controller="ContactTables" asp-action="Index">Contacts</a> | <a asp-controller="EventTables" asp-action="Index">Events</a>  | <a asp-controller="NoteTables" asp-action="Index">Notes</a> |  <a asp-controller="TaskTables" asp-action="Index">Tasks</a>
</div>
